<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8-desktop mdc-layout-grid__cell--span-5-tablet mdc-layout-grid__cell--span-4-phone">
      {{#if paging.totalResults ~}}
      <p class="search-info">
        <strong>Total results:</strong> {{addCommas paging.totalResults}}
        {{#compare paging.totalResults ">" 10 ~}} |
        <strong>Current page:</strong> {{addCommas paging.currentPage}} of {{addCommas paging.totalPages}}
        {{/compare ~}}
      </p>
      {{else}}
      {{#ifAny @root.request.params.query.keywords @root.request.params.query.location @root.request.params.query.salary_min @root.request.params.query.salary_max @root.request.params.query.working_patterns @root.request.params.query.regions @root.request.params.query.roles @root.request.params.query.sectors @root.request.params.query.home_based @root.request.params.query.various_locations ~}}
      <p class="search-info">
        No results could be found, please try a different search query
      </p>
      {{/ifAny ~}}
      {{/if ~}}
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-4-phone">
      <form action="{{@root.request.url.path}}" method="GET">
        {{#if @root.request.params.query.q ~}}
        <input type="hidden" name="q" value="{{@root.request.params.query.q}}" />
        {{/if ~}}
        {{#if @root.request.params.query.sector ~}}
        <input type="hidden" name="sector" value="{{@root.request.params.query.sector}}" />
        {{/if ~}}
        {{#if @root.request.params.query.category ~}}
        <input type="hidden" name="category" value="{{@root.request.params.query.category}}" />
        {{/if ~}}
        <div class="mdc-form-field sort pull-right">
          <form action="{{@root.request.url.path}}" method="GET">
          <select class="mdc-select" role="listbox" id="charter-sort" name="sort" onchange="this.form.submit();">
            <option value="" {{#if @root.request.params.query.sort}}{{else}}selected{{/if}}>Date signed</option>
            <option value="AZ" {{#if @root.request.params.query.sort}}selected{{else}}{{/if}}>Alphabetical</option>
          </select>
        </div>
      </form>
    </div>
  </div>
</div>
