<div class="search grant-search grant-cyber-search">
  {{> header_splash}}
  <div class="container-fluid">
    <ul class="breadcrumbs">
      <li><a href="/">Home</a></li>
      <li><a href="/digital">Digital</a></li>
      <li><a href="/digital/evolution">Evolution</a></li>
      <li><a href="/digital/evolution/cyber-resilience">Cyber Resilience and Cyber Essentials Grants</a></li>
      <li>{{{@root.data.primaryResponse.hits.hits.[0]._source.title}}}</li>
    </ul>
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 content grant-content">
          {{{@root.data.primaryResponse.hits.hits.[0]._source.rendered.scvo_full}}}

          {{#compare (length @root.data.supplimentaryResponses.grants.aggregations.calls.buckets) ">" "0" ~}}
          {{#each @root.data.supplimentaryResponses.grants.aggregations.calls.buckets ~}}
          {{#compare key "===" "Cyber 1" ~}}
          <h2>Call 1 pilot, 2017</h2>
          <p>
            To test the ability of third sector organisations to achieve Cyber Essentials accreditation, a small scale ‘grants’ programme supported 15 third sector organisations to help cover the application and IT support costs needed to achieve Cyber Essentials accreditation.
          </p>
          {{else}}
          {{#compare key "===" "Cyber 2" ~}}
          <h2>Call 2, 2019</h2>
          <p>
            The Cyber Essentials grant scheme was scaled up to support a further 60 third sector organisations to achieve Cyber Essentials accreditation.
          </p>
          {{else}}
          {{#compare key "===" "Cyber 3" ~}}
          <h2>Call 3, 2019</h2>
          <p>

          </p>
          {{/compare ~}}
          {{/compare ~}}
          {{/compare ~}}

          <div class="mdc-layout-grid equal-height v-margin">
            <div class="mdc-layout-grid__inner">
              {{#compare grants.hits.total ">" "0" ~}}
              {{#each grants.hits.hits ~}}
              {{#with _source ~}}
              <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                <div class="mdc-card card scvo-grant scvo-grant-cyber">
                  <section class="mdc-card__primary">
                    <h2 class="mdc-card__title mdc-card__title--large">
                      {{{title}}}
                    </h2>
                  </section>
                  <section class="mdc-card__supporting-text">
                    <p class="mdc-typography--body1">
                      <span class="mdc-typography--caption">Charity registered in Scotland <a href="http://www.oscr.org.uk/about-charities/search-the-register/charity-details?number={{recipient_charity_number}}">{{recipient_charity_number}}</a></span><br />
                      <strong>Amount awarded:</strong> £{{addCommas amount_awarded}}
                      {{!-- #ifAll actual_start actual_end ~}}
                      <strong>Project dates:</strong> {{momentFormat (moment actual_start 'x') "Do MMM YYYY"}} - {{momentFormat (moment actual_end 'x') "Do MMM YYYY"}}<br />
                      {{/ifAll ~ --}}
                      {{!-- #if date_awarded ~}}
                      <strong>Date awarded:</strong> {{momentFormat (moment date_awarded 'x') "Do MMM YYYY"}}
                      {{/if ~ --}}
                    </p>
                  </section>
                </div>
              </div>
              {{/with ~}}
              {{/each ~}}
            </div>
          </div>
          {{/compare ~}}
          {{/each ~}}
          {{else}}
          <p>
            No results could be found, please try a different search.
          </p>
          <p>&nbsp;</p>
          {{/compare ~}}

          {{> pagination paging=@root.data.primaryResponse.pagination}}
        </div>
      </div>
    </div>
  </div>
</div>
