<div class="mdc-card full" data-fund-id="{{Id}}">
  {{> fund_key_info}}
  <ul class="fa-ul first">
    {{#if (length (arrayify region_group)) ~}}
      <li class="mdc-typography--body1 mdc-chip-set">
        <span class="fa-li"><span class="far fa-map-marker-alt fa-fw" title="Geographical areas funded"></span></span>
        {{#each (sort (arrayify region_group)) ~}}
          <a href="/search?region_group={{lookup (arrayify ../region_group_slug) @index}}" class="">{{{this}}}</a>{{#unless @last}},&nbsp;{{/unless}}
        {{/each ~}}
      </li>
    {{/if ~}}
    {{#if (length (arrayify activities)) ~}}
      <li class="mdc-typography--body1 mdc-chip-set">
        <span class="fa-li"><span class="far fa-hands-helping fa-fw" title="Activities"></span></span>
        {{#each (arrayify activities) ~}}
          <a href="/search?activities={{lookup (arrayify ../activities_slugs) @index}}" class="">{{{this}}}</a>{{#unless @last}},&nbsp;{{/unless}}
        {{/each ~}}
      </li>
    {{/if ~}}
    {{#if (length (arrayify activities)) ~}}
      <li class="mdc-typography--body1 mdc-chip-set">
        <span class="fa-li"><span class="far fa-user-alt fa-fw" title="Beneficiaries"></span></span>
        {{#each (arrayify beneficiaries) ~}}
        <a href="/search?beneficiaries={{lookup (arrayify ../beneficiaries_slugs) @index}}" class="">{{{this}}}</a>{{#unless @last}},&nbsp;{{/unless}}
        {{/each ~}}
      </li>
    {{/if ~}}
  </ul>

  <hr class="mdc-list-divider" />

  {{#if description ~}}
  <h4 class="mdc-typography--headline6">Summary</h4>
  <div class="mdc-typography--body1">
    {{{description}}}
  </div>
  {{/if ~}}

  {{#if who_can_apply ~}}
  <h4 class="mdc-typography--headline6">Who can apply?</h4>
  <div class="mdc-typography--body1">
    {{{who_can_apply}}}
  </div>
  {{/if ~}}

  {{#if exclusions ~}}
  <h4 class="mdc-typography--headline6">Exclusions</h4>
  <div class="mdc-typography--body1">
    {{{exclusions}}}
  </div>
  {{/if ~}}

  {{#if when_to_apply ~}}
  <h4 class="mdc-typography--headline6">When to apply?</h4>
  <div class="mdc-typography--body1">
    {{{when_to_apply}}}
  </div>
  {{/if ~}}
</div>