<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner title">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--span-6-desktop">
      <h1>Stories</h1>
    </div>
  </div>
  {{#each @root.data.primaryResponse.hits.hits ~}}
  {{#with _source ~}}
  <div class="mdc-layout-grid__inner expand skills">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      <hr class="margin-top" />
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-7-tablet mdc-layout-grid__cell--span-3-phone">
      <h3>
        {{#if author_organisation_name}}{{{author_organisation_name}}}{{else}}SCVO{{/if}}
      </h3>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1-tablet mdc-layout-grid__cell--span-1-phone hide-on-med-and-up">
      <h3>
        <a href="/{{replace slug "_" "/"}}">
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </a>
      </h3>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-7-desktop mdc-layout-grid__cell--span-7-tablet">
      <p>
        <strong>{{{title}}}</strong><br />
        &ndash; {{#if author_name_full}}by {{{author_name_full}}} {{#if author_job_title}}({{{author_job_title}}}){{/if}},{{/if}} posted {{momentFromNow publish_on}}<br /><br />
        “{{{description_truncated}}}”&ensp;<a href="/{{replace slug "_" "/"}}"><strong>Read more</strong></a>
      </p>
    </div>
    <div class="mdc-layout-grid__cell hide-on-small-only mdc-layout-grid__cell--span-1-desktop mdc-layout-grid__cell--span-1-tablet">
      <h3>
        <a href="/{{replace slug "_" "/"}}">
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </a>
      </h3>
    </div>
  </div>
  {{/with ~}}
  {{/each ~}}
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      <hr class="margin-top" />
    </div>
  </div>
</div>
