{{#if @root.request.params.query.sg_sessionid}}
  <div class="page">
    {{> headers_splash_charity_awards title=@root.data.primaryResponse.hits.hits.[0]._source.title}}
    <div class="container-fluid">
      <ul class="breadcrumbs" aria-hidden="true">
        <li><a href="/">Home</a></li>
        <li><a href="/scottish-charity-awards">Scottish Charity Awards</a></li>
        <li><a href="/scottish-charity-awards/vote-2019">Categories</a></li>
        <li><a href="/scottish-charity-awards/vote-2019/{{@root.request.params.category}}">{{{getProperty @root.route.metaData.awards-info (concat @root.request.params.category ".title")}}}</a></li>
        {{#with @root.data.primaryResponse.hits.hits.[0]._source ~}}
          <li>{{{title}}}</li>
        {{/with ~}}
      </ul>
      <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-9-desktop mdc-layout-grid__cell--span-5-tablet mdc-layout-grid__cell--span-4-phone content page-content b-margin-full">
            <h1>Placing vote, please wait</h1>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-4-phone sidebar page-sidebar">
            {{> menus_charity_awards}}
          </div>
        </div>
      </div>
    </div>
    {{#with @root.data.primaryResponse.hits.hits.[0]._source ~}}
      {{#withExtend (obj)
          vote=slug
          candidateTitle=title
          category=category
          categoryTitle=(getProperty @root.route.metaData.awards-info (concat @root.request.params.category ".title"))
          host=@root.request.url.host
          __ref=@root.request.url.href
          __output='embedjs'}}
        <script src="https://www.surveygizmo.eu/s3/90139442/Scottish-Charity-Awards-2019-voting?{{querystringify this}}" type="text/javascript"></script>
      {{/withExtend}}
      <style>
        .sg-survey{
          display:none;
        }
      </style>
    {{/with}}
  </div>
{{else}}
<div class="page">
  {{> headers_splash_charity_awards title=@root.data.primaryResponse.hits.hits.[0]._source.title}}
  <div class="container-fluid">
    <ul class="breadcrumbs" aria-hidden="true">
      <li><a href="/">Home</a></li>
      <li><a href="/scottish-charity-awards">Scottish Charity Awards</a></li>
      <li><a href="/scottish-charity-awards/vote-2019">Categories</a></li>
      <li><a href="/scottish-charity-awards/vote-2019/{{@root.request.params.category}}">{{{getProperty @root.route.metaData.awards-info (concat @root.request.params.category ".title")}}}</a></li>
      {{#with @root.data.primaryResponse.hits.hits.[0]._source ~}}
        <li>{{{title}}}</li>
      {{/with ~}}
    </ul>
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-9-desktop mdc-layout-grid__cell--span-5-tablet mdc-layout-grid__cell--span-4-phone content page-content b-margin-full">
          {{#with @root.data.primaryResponse.hits.hits.[0]._source ~}}
            {{#if image_url}}
              <div class="pull-right l-margin-full b-margin-full t-margin-full charity-awards-image hide-sm hide-md">
                <img src="{{image_url}}" />
              </div>
            {{/if}}
            <div class="v-margin-full">
              {{{content}}}
            </div>
            {{#if image_url}}
              <div class="v-margin-full charity-awards-image hide-lg">
                <img src="{{image_url}}" />
              </div>
            {{/if}}

            <a name="vote" style="margin-top:-150px; display: block; position: absolute;"></a>

            {{#unless @root.request.cookies.charity_awards_already_voted}}
              <div class="{{category}} mdc-card charity-awards-vote-card">
                <section class="mdc-card__primary">
                  <h1 class="mdc-card__title mdc-card__title--large">
                    Vote for {{{title}}} in the {{{getProperty @root.route.metaData.awards-info (concat @root.request.params.category ".title")}}} category
                  </h1>
                </section>
                <section class="mdc-card__supporting-text">
                  {{#withExtend (obj)
                      vote=slug
                      candidateTitle=title
                      category=category
                      categoryTitle=(getProperty @root.route.metaData.awards-info (concat @root.request.params.category ".title"))
                      host=@root.request.url.host
                      __ref=@root.request.url.href
                      __output='embedjs'}}
                    <script src="https://www.surveygizmo.eu/s3/90139442/Scottish-Charity-Awards-2019-voting?{{querystringify this}}" type="text/javascript"></script>
                  {{/withExtend}}
                  <style>
                    .sg-survey{
                      display:none;
                    }
                  </style>
                </section>
              </div>
            {{else}}
              {{#compare @root.request.cookies.charity_awards_already_voted @root.request.params.vote}}
                {{#compare @root.data.goodhq.hits.total ">" 0}}
                  <h4>Thank you for voting for {{{@root.data.primaryResponse.hits.hits.[0]._source.title}}}</h4>
                  <h5>Leave a review on <a href="https://goodhq.org/?utm_source=scvo&utm_medium=links&utm_campaign=charity_awards">GoodHQ</a></h5>
                  <div class="mdc-layout-grid equal-height">
                    <div class="mdc-layout-grid__inner">
                      {{#each @root.data.goodhq.hits.hits}}
                        <div class="mdc-layout-grid__cell">
                          <div class="mdc-card demo-card demo-ui-control">
                            <a href="https://goodhq.org/{{_id}}?utm_source=scvo&utm_medium=links&utm_campaign=charity_awards" class="mdc-card__primary-action demo-card__primary-action" tabindex="0" style="flex: 1 0 auto;">
                              <div class="mdc-card__media mdc-card__media--square demo-card__media" style="background-image: url(&quot;{{default _source.image_url 'https://goodhq.org/images/default_avatar_small.png'}}&quot;);"></div>
                              <div class="demo-card__primary">
                                <h2 class="demo-card__title mdc-typography mdc-typography--headline6">{{_source.name}}</h2>
                                <!--<h6 class="demo-card__subtitle mdc-typography mdc-typography--subtitle2">{{{_source.rendered.goodhq_hearts}}}</h3>-->
                              </div>
                            </a>
                            <div class="mdc-card__actions">
                              <div class="mdc-card__action-buttons">
                                <a href="https://goodhq.org/{{_id}}/review?utm_source=scvo&utm_medium=links&utm_campaign=charity_awards" class="mdc-button mdc-card__action mdc-card__action--button">Review</a>
                              </div>
                              <div class="mdc-card__action-icons">
                                {{#if _source.website}}
                                  <a href="{{fixUrl _source.website "https"}}" class="mdc-icon-button mdc-card__action mdc-card__action--icon--unbounded" title="Website" data-mdc-ripple-is-unbounded="true">
                                    <i class="fas fa-globe-europe"></i>
                                  </a>
                                {{/if}}
                                {{#if _source.twitter}}
                                  <a href="https://twitter.com/{{_source.twitter}}" class="mdc-icon-button mdc-card__action mdc-card__action--icon--unbounded" title="Twitter" data-mdc-ripple-is-unbounded="true">
                                    <i class="fab fa-twitter"></i>
                                  </a>
                                {{/if}}
                                {{#if _source.instagram}}
                                  <a href="{{fixUrl _source.instagram "https"}}" class="mdc-icon-button mdc-card__action mdc-card__action--icon--unbounded" title="Instagram" data-mdc-ripple-is-unbounded="true">
                                    <i class="fab fa-instagram"></i>
                                  </a>
                                {{/if}}
                                {{#if _source.facebook}}
                                  <a href="{{fixUrl _source.facebook "https"}}" class="mdc-icon-button mdc-card__action mdc-card__action--icon--unbounded" title="Facebook" data-mdc-ripple-is-unbounded="true">
                                    <i class="fab fa-facebook"></i>
                                  </a>
                                {{/if}}
                              </div>
                            </div>
                          </div>
                        </div>
                      {{/each}}
                    </div>
                  </div>
                {{/compare}}

                {{#compare @root.data.volunteering-opportunities.hits.total ">" 0}}
                  <h5>Volunteering opportunities on <a href="https://search.volunteerscotland.net/?utm_source=scvo&utm_medium=links&utm_campaign=charity_awards">Volunteer Scotland</a></h5>
                  <div class="mdc-layout-grid equal-height">
                    <div class="mdc-layout-grid__inner">
                      {{#each @root.data.volunteering-opportunities.hits.hits}}
                        <div class="mdc-layout-grid__cell">
                          {{#with _source}}
                            <div class="mdc-card charity-awards-volopp-card">
                              <div class="mdc-card__primary-action charity-awards-volopp-card__primary-action x-padding-full" tabindex="0" style="flex: 1 0 auto;">
                                <div class="charity-awards-volopp-card__primary">
                                  <h2 class="charity-awards-volopp-card__title mdc-typography mdc-typography--headline6">
                                    <a href="https://search.volunteerscotland.net/opportunity/{{slug}}?utm_source=scvo&utm_medium=links&utm_campaign=charity_awards">
                                      <span class="hover-underline">{{title}}</span>
                                    </a>
                                  </h2>
                                  <h3 class="charity-awards-volopp-card__subtitle mdc-typography mdc-typography--subtitle2">
                                    <span class="fa-li"><span class="far fa-home-heart" title="Organisation"></span></span>
                                    <a href="https://search.volunteerscotland.net/organisation/{{organisation_slug}}?utm_source=scvo&utm_medium=links&utm_campaign=charity_awards">
                                      {{organisation_name}}
                                    </a>
                                  </h3>
                                </div>
                                <div class="charity-awards-volopp-card__secondary mdc-typography mdc-typography--body2">
                                  {{truncate description 255}}
                                </div>
                              </div>
                              <div class="mdc-card__actions">
                                <div class="mdc-card__action-buttons">
                                  <a href="https://search.volunteerscotland.net/opportunity/{{slug}}?utm_source=scvo&utm_medium=links&utm_campaign=charity_awards" class="mdc-button mdc-card__action mdc-card__action--button">Find out more</a>
                                </div>
                              </div>
                            </div>
                          {{/with}}
                        </div>
                      {{/each}}
                    </div>
                  </div>
                {{/compare}}
              {{else}}
                <h4>You have already voted in this years' awards</h4>
              {{/compare}}
            {{/unless}}
          {{/with ~}}
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-4-phone sidebar page-sidebar">
          {{> menus_charity_awards}}
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  gtag('event', 'charity-awards-2019-hit', {
    event_category: 'entrant',
    event_label: {{{stringify (default @root.request.params.vote 'unknown')}}}
  });
</script>
{{/if}}