<div class="page">
  {{> header_splash}}
  <div class="container-fluid content page-content">
    {{> breadcrumbs}}

    <br />

    <div class="mdc-layout-grid equal-height linked-cards support support-organisation support-digital">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
          <div class="mdc-card participation">
            <section class="mdc-card__primary">
              <h1 class="mdc-card__title mdc-card__title--large">
                <a href="/digital/participation"><span class="fal fa-fw fa-hand-paper fa-2x"> </span>Participation</a>
              </h1>
            </section>
            <section class="mdc-card__media"><a href="/digital/participation">&nbsp;</a></section>
            <section class="mdc-card__supporting-text">
              Skill up, get involved and help others
            </section>
            <section class="mdc-card__actions"><a class="mdc-card__action" href="/digital/participation">Find out more</a></section>
          </div>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
          <div class="mdc-card evolution">
            <section class="mdc-card__primary">
              <h1 class="mdc-card__title mdc-card__title--large">
                <a href="/digital/evolution"><span class="fal fa-fw fa-lightbulb-on fa-2x"> </span>Evolution</a>
              </h1>
            </section>
            <section class="mdc-card__media"><a href="/digital/evolution">&nbsp;</a></section>
            <section class="mdc-card__supporting-text">
              Creating a digitally confident third sector in Scotland
            </section>
            <section class="mdc-card__actions"><a class="mdc-card__action" href="/digital/evolution">Find out more</a></section>
          </div>
        </div>
        {{#compare @root.data.supplimentaryResponses.related_events.hits.total ">" 0 ~}}
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
          {{#with @root.data.supplimentaryResponses.related_events.hits ~}}
            {{#compare total ">" 0 ~}}
              <div class="mdc-card events">
                <section class="mdc-card__primary">
                  <h1 class="mdc-card__title mdc-card__title--large">
                    <a href="/digital/events"><span class="fal fa-fw fa-handshake fa-2x"> </span>Events</a>
                  </h1>
                </section>
                <section class="mdc-card__media"><a href="/digital/events">&nbsp;</a></section>
                <section class="mdc-card__supporting-text">
                  We have {{total}} upcoming event{{#compare total ">" 1}}s{{/compare~}}
                  {{~#compare total 1}}:
                    <a href="/digital/events/{{hits.[0]._source.slug}}">
                      {{{hits.[0]._source.title}}}
                    </a>
                  {{/compare}}
                </section>
                <section class="mdc-card__actions">
                  {{#compare total ">" 1 ~}}
                  <a class="mdc-card__action" href="/digital/events">See more upcoming events</a>
                  {{/compare ~}}
                </section>
              </div>
            {{else}}
              <div class="mdc-card research">
                <section class="mdc-card__primary">
                  <h1 class="mdc-card__title mdc-card__title--large">
                    <a href="/digital/participation/reports"><span class="fal fa-fw fa-university fa-2x"> </span>Research</a>
                  </h1>
                </section>
                <section class="mdc-card__media"><a href="/digital/participation/reports">&nbsp;</a></section>
                <section class="mdc-card__supporting-text">
                  Check out our resource library on developing digital potential
                </section>
                <section class="mdc-card__actions">
                  <a class="mdc-card__action" href="/digital/participation/reports">Find out more</a>
                </section>
              </div>
            {{/compare ~}}
          {{/with ~}}
        </div>
        {{/compare ~}}
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
          <div class="mdc-card funding">
            <section class="mdc-card__primary">
              <h1 class="mdc-card__title mdc-card__title--large">
                <a href="/funding">
                  <span class="fas fa-chart-bar fa-fw fa-2x"> </span>
                  Funding</a>
              </h1>
            </section>
            <section class="mdc-card__media"><a href="/funding">&nbsp;</a></section>
            <section class="mdc-card__supporting-text">
              See open funds and recent awards
            </section>
            <section class="mdc-card__actions"><a class="mdc-card__action" href="/funding">Find out more</a></section>
          </div>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
          <div class="mdc-card skills">
            <section class="mdc-card__primary">
              <h1 class="mdc-card__title mdc-card__title--large">
                <a href="/digital/participation/skills/scotlands-essential-digital-skills-toolkit"><span class="fal fa-fw fa-graduation-cap fa-2x"> </span>Essential skills</a>
              </h1>
            </section>
            <section class="mdc-card__media"><a href="/digital/participation/skills/scotlands-essential-digital-skills-toolkit">&nbsp;</a></section>
            <section class="mdc-card__supporting-text">
              Test your digital skills with our toolkit
            </section>
            <section class="mdc-card__actions"><a class="mdc-card__action" href="/digital/participation/skills/scotlands-essential-digital-skills-toolkit">Find out more</a></section>
          </div>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
          <div class="mdc-card blog latest_content">
            <section class="mdc-card__primary">
              <h1 class="mdc-card__title mdc-card__title--large">
                <a href="/digital/blogs"><span class="fal fa-fw fa-comments fa-2x"> </span>Latest blog</a>
              </h1>
            </section>
            {{#with @root.data.supplimentaryResponses.related_posts.hits.hits.0._source ~}}
            <section class="mdc-card__supporting-text">
              {{{rendered.scvo_gist}}}
            </section>
            <section class="mdc-card__supporting-text">
              {{{truncate description "162"}}}
            </section>
            {{/with ~}}
            <section class="mdc-card__actions">
              <a class="mdc-card__action" href="/digital/blogs">Read more blog posts</a>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{> footer_digital}}
</div>