<div class="container-content content-account">
  <h1>Sample emails data to be sent out to verify user: {{@root.data.accountInfo.first_name}} {{@root.data.accountInfo.last_name}}  </h1>

  <h2>User: {{@root.data.accountInfo.first_name}} {{@root.data.accountInfo.last_name}} {{#if @root.data.accountInfo.school_college_name}}from {{@root.data.accountInfo.school_college_name}}{{/if}}</h2>

  {{#each (distinct (pluck @root.data.tasksInfo "volunteer_manager_email")) ~}}
    <section class="mdc-card__media email-template h-padding-full">
      <p>Dear Sir or Madam,</p>
      <p>{{@root.data.accountInfo.first_name}} {{@root.data.accountInfo.last_name}}
        {{#if @root.data.accountInfo.school_college_name}}from {{@root.data.accountInfo.school_college_name}}{{/if}}
        is applying for a Saltire Award for volunteering with you. Please confirm that the following
        volunteering hours are accurate by clicking the link below.
      </p>

      <ul>
        {{#each @root.data.tasksInfo}}
          {{#compare this.volunteer_manager_email "===" ../this}}
          <li><strong>{{task_name}}</strong> for <strong>{{organisation_name}}</strong>, Manager: {{volunteer_manager_name}} - {{volunteer_manager_title}}
              <ul>
                {{#each this.unverifiedHoursList}}
                  <li>Hours: {{hours}} - Logged on: {{momentFormat (moment createdDate "YYYY-MM-DD") "MMMM Do YYYY"}}</li>
                {{/each}}
              </ul>
            </li>
          {{/compare}}
        {{/each}}
      </ul>

      <p>Please click <a href="https://saltireawards.local:8080/verify-hours/?e={{this}}&c={{@root.data.setVerifyHoursCode.data.code}}&u={{@root.data.auth.uid}}">here</a> to confirm these hours are correct.</p>
        <p>Please or reply to this email to make any corrections.</p>

      https://saltireawards.local:8080/verify-hours/?e={{this}}&c={{@root.data.setVerifyHoursCode.data.code}}&u={{@root.data.auth.uid}}

    </section>
  {{/each}}

</div>