<div id="detailed-results-container" class="container-content content-notes">
  <h1 class="mdc-typography--headline4">
    Settings
  </h1>

  <h2 class="mdc-typography--headline6">
    Your details
  </h2>

  <form id="user-details-form" action="/submit-user-details" method="POST" data-ajax-form='{
      "successCallback": "completeCB",
      "failureCallback": "completeCB"
    }'>

    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
          <div class="mdc-text-field mdc-text-field--box" data-mdc-auto-init="MDCTextField">
            <input  id="first_name" name="first_name"
                   class="mdc-text-field__input mdc-text-field--fullwidth"
                   value = "{{@root.data.accountInfo.first_name}}"
            >
            {{!-- value="{{@root.data.user_details.first_name}}"> --}}
            <label class="mdc-floating-label" for="first_name">
              First name
            </label>
          </div>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
          <div class="mdc-text-field mdc-text-field--box" data-mdc-auto-init="MDCTextField">
            <input  id="last_name" name="last_name"

                   class="mdc-text-field__input mdc-text-field--fullwidth"
                   value = "{{@root.data.accountInfo.last_name}}">

            <label class="mdc-floating-label" for="last_name">
              Last name
            </label>
          </div>
        </div>
      </div>
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
          <div class="mdc-text-field mdc-text-field--box" data-mdc-auto-init="MDCTextField">
            <input id="date_of_birth" name="date_of_birth"

                   class="mdc-text-field__input mdc-text-field--fullwidth"
                   value = "{{@root.data.accountInfo.date_of_birth}}">
            <label class="mdc-floating-label" for="date_of_birth">
              Date of birth
            </label>
          </div>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
          <div class="mdc-text-field mdc-text-field--box" data-mdc-auto-init="MDCTextField">
            <input id="postcode" name="postcode"
              class="mdc-text-field__input mdc-text-field--fullwidth"
                   value = "{{@root.data.accountInfo.postcode}}">
            <label class="mdc-floating-label" for="postcode">
              Home Postcode
            </label>
          </div>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
          <div class="mdc-text-field mdc-text-field--box" data-mdc-auto-init="MDCTextField">
            <input id="external_id" name="external_id"
                   class="mdc-text-field__input mdc-text-field--fullwidth"
                   value = "{{data.auth.uid}}">
            <label class="mdc-floating-label" for="external_id">
              ID
            </label>
          </div>
        </div>

      </div>
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
          <div class="mdc-text-field mdc-text-field--box" data-mdc-auto-init="MDCTextField">
            <input id="school_college_name" name="school_college_name"
              class="mdc-text-field__input mdc-text-field--fullwidth"
                   value = "{{@root.data.accountInfo.school_college_name}}">
            <label class="mdc-floating-label" for="school_college_name">
              School / College name
            </label>
          </div>
        </div>
      </div>
      <div id="parental_verification" class="mdc-layout-grid__inner" style="display: none">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
          <div class="mdc-text-field mdc-text-field--box" data-mdc-auto-init="MDCTextField">
            <input type="email" id="parental_verification_email" name="parental_verification_email"
              class="mdc-text-field__input mdc-text-field--fullwidth"
                   value = "{{@root.data.accountInfo.parental_verification_email}}">
            <label class="mdc-floating-label" for="parental_verification_email">
              Your Parent or Guardian's email address
            </label>
          </div>
        </div>
      </div>
    </div>



    {{!-- This will probably have a captcha in it, hence the separation, and weird submit format --}}
    <button id="detail-submit" class="mdc-button mdc-button--raised b-margin-full" id="register-interest-submit" >
      <span class="spinner fas fa-spin fa-spinner mdc-list-item__graphic" aria-hidden="true"></span>
      Save
    </button>
  </form>
</div>

{{!-- <script src="https://www.google.com/recaptcha/api.js" async defer></script> --}}
<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    $('#user-details-form').on('submit', function(e){
      $('#detail-submit').prop('disabled', true);
    })
  });
  function completeCB(response){
    $('#detail-submit').prop('disabled', false);
    var jsonData = JSON.parse(response);
    if (jsonData.id){
      saltireawards.componentsInitialiser.snackbar.show({message:"Profile information updated"});
    } else {
      saltireawards.componentsInitialiser.snackbar.show({message:"Failed to update profile, please check form fields filled in correctly"});
    }
  }
</script>