{{#ifAll @root.request.params.query.s1 @root.request.params.query.s2 @root.request.params.query.s3 @root.request.params.query.s4 @root.request.params.query.income_band  @root.request.params.query.topic @root.request.params.query.area ~}}
<div class="checkup-section b-padding-full" id="checkup-confirmation">
  <div class="checkup-section-header b-padding-full v-margin-full">
    <div class="container-fluid">
      <div class="container-content">
        {{> checkup_progress progress=95}}
        <div class="mdc-layout-grid">
          <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2-desktop mdc-layout-grid__cell--span-1-tablet mdc-layout-grid__cell--span-1-phone">
              <img src="{{~>asset_url url='images/icon-confirm@2x.png'~}}" title="Confirmation" class="icon" />
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-10-desktop mdc-layout-grid__cell--span-7-tablet mdc-layout-grid__cell--span-3-phone">
              <h1 class="mdc-typography--headline3">Confirmation</h1>
              <div class="mdc-typography--body1"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="container-content">
      <div class="mdc-typography--body2">
        * required information
      </div>

      <script type="text/javascript" >document.write('<script src="http' + ( ("https:" == document.location.protocol) ? "s" : "") + '://www.surveygizmo.eu/s3/90133620/SCVO-Digital-Checkup?__no_style=true&s1={{@root.request.body.s1}}&s2={{@root.request.body.s2}}&s3={{@root.request.body.s3}}&s4={{@root.request.body.s4}}&overall={{@root.request.body.overall}}&income_band={{@root.request.body.income_band}}&topic={{@root.request.body.topic}}&name={{@root.request.body.name}}&email={{@root.request.body.email}}&web_organisation={{@root.request.body.web_organisation}}&area={{@root.request.body.area}}&postcode={{@root.request.body.postcode}}&__output=embedjs&__ref=' + escape(document.location.origin + document.location.pathname) + '" type="text/javascript" ></scr' + 'ipt>');</script><style>.sg-survey{display:none; }</style>
    </div>
  </div>
</div>
{{else}}
{{> checkup_error}}
{{/ifAll}}