<div class="page about">
  {{> header_splash}}
  <div class="container-fluid">
    {{> breadcrumbs}}
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-9-desktop mdc-layout-grid__cell--span-5-tablet mdc-layout-grid__cell--span-4-phone content page-content">
          {{{data.primaryResponse.hits.hits.[0]._source.rendered.scvo_full}}}

          {{#compare data.supplimentaryResponses.scvo_jobs.hits.total "===" 0 ~}}
          <p>
            We don't currently have any vacancies but when we do they will appear here automatically.
          </p>
          <p>
            In the meantime you can search for jobs on
            <a href="https://goodmoves.com"><strong>good</strong>moves</a> and set up email alerts.
          </p>
          {{else}}
          <h2>Current vacancies with SCVO</h2>
          {{#each data.supplimentaryResponses.scvo_jobs.hits.hits ~}}
          {{#with _source ~}}
          <h3>
            <a href="https://goodmoves.com/vacancy/{{slug}}">{{{title}}}</a>
          </h3>
          <p class="mdc-typography--body1">
            <strong>Location:</strong> {{location}}<br />
            <strong>Closing date:</strong> {{momentFormat (moment closing_date 'x') 'dddd Do MMMM YYYY'}}<br />
            {{{description_short}}}<br />
            <a href="https://goodmoves.com/vacancy/{{slug}}">Find out more &amp; apply</a>
          </p>
          {{/with ~}}
          {{/each ~}}
          {{/compare ~}}
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-4-phone sidebar page-sidebar">
          {{> menu_about}}
        </div>
      </div>
    </div>
  </div>
</div>
