<div class="container-content fundingscotland-page t-padding">
  <div class="list b-padding-full t-margin b-margin-full">
    {{> search_info paging=@root.data.primaryResponse.pagination}}

    {{#each @root.data.primaryResponse.hits.hits ~}}
    {{#with _source ~}}
    <div class="mdc-card x-padding-full gist tfn-post {{../_type}}">
      <a href="{{url}}?utm_source=Widget&amp;utm_medium=Widget&amp;utm_campaign=Widget-Traffic" title="{{title}}"><img src="{{default (default image_feature featured_image) header_background}}" /></a>
      <h3 class="mdc-card__title mdc-typography--headline">
        <a href="{{url}}?utm_source=Widget&amp;utm_medium=Widget&amp;utm_campaign=Widget-Traffic" title="{{title}}">{{{title}}}</a>
      </h3>
      <h4 class="mdc-card__subtitle post-info">
        <div class="post-info-item post-info-date">
          <span class="far fa-calendar-edit" aria-hidden="true"></span>
          {{{momentFormat (moment publish_on "x") "Do MMMM YYYY"}}}
        </div>
      </h4>
      <p class="mdc-typography--body1">
        {{{description}}}
        <a href="{{url}}?utm_source=Widget&amp;utm_medium=Widget&amp;utm_campaign=Widget-Traffic" title="{{title}}">Read more</a>
      </p>
    </div>
    {{/with ~}}
    {{/each ~}}

    {{> pagination paging=@root.data.primaryResponse.pagination}}
  </div>
</div>
