<div class="container-content fundingscotland-page t-padding">
  <div class="mdc-card list h-padding-full b-padding-full t-margin b-margin-full mdc-elevation--z3">
    {{#compare data.primaryResponse.hits.total ">" 0 ~}}
      <h1 class="mdc-typography--headline4">
        {{{data.primaryResponse.hits.hits.[0]._source.title}}}
      </h1>
      {{{data.primaryResponse.hits.hits.[0]._source.content}}}

      {{#ifAll @root.data.auth (compare @root.data.currentSite.name "===" "default") ~}}
        <script type="text/javascript" >document.write('<script src="http' + ( ("https:" == document.location.protocol) ? "s" : "") + '://www.surveygizmo.eu/s3/90135398/Funding-Scotland-Premium?__output=embedjs&email={{@root.data.auth.email}}&passwordHash={{@root.data.auth.passwordHash}}&__ref=' + escape(document.location.origin + document.location.pathname) + '" type="text/javascript" ></scr' + 'ipt>');</script><style>.sg-survey{display:none; }</style>
      {{/ifAll ~}}
    {{else}}
      <h2 class="mdc-typography--headline5">
        Error 404: Page not found
      </h2>
    {{/compare ~}}
  </div>
</div>