{{#*inline "advanced_checkbox_checkbox"}}
  <div class="mdc-checkbox mdc-list-item__meta">
    <input type="checkbox" class="mdc-checkbox__native-control" 
        {{#unless hideName}}name="{{name}}"{{/unless}} value="{{value}}" 
        id="cb-{{name}}-{{value}}" {{#if checked}}checked{{/if}}
        aria-labelledby="li-{{name}}-{{value}}">
    <div class="mdc-checkbox__background">
      <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
        <path class="mdc-checkbox__checkmark-path" fill="none" d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
      </svg>
      <div class="mdc-checkbox__mixedmark"></div>
    </div>
  </div>
{{/inline}}

{{#*inline "advanced_checkbox_list"}}
  <div class="mdc-list-group" data-advanced-checkbox-list="{{name}}">
    <h3 class="mdc-list-group__subheader cursor-pointer noselect" data-acl-collapse-trigger>
      <span class="mdc-icon-toggle mdc-icon-toggle-xs pull-right r-padding-full" data-acl-clear>
        <span class="far fa-trash" aria-hidden="true"></span>
      </span>
      {{{label}}}
    </h3>
    <ul class="mdc-list mdc-list--dense" role="group" aria-label="{{label}}">
      {{> @partial-block}}
      <li class="mdc-list-item cursor-pointer noselect" data-acl-collapse-trigger>
        <i class="fas fa-ellipsis-h fa-2x pull-centre" data-acl-collapse-icon-collapsed="fa-ellipsis-h" 
            data-acl-collapse-icon-open="fa-chevron-up"></i>
      </li>
    </ul>
  </div>
{{/inline}}

{{#*inline "advanced_checkbox_group"}}
<li class="mdc-list-item checkbox-list-parent {{#if hideParent}}checkbox-list-parent-hidden{{/if}}" data-advanced-checkbox-group="{{name}}" 
      role="checkbox" aria-checked="false" id="li-{{name}}-{{value}}">
    <label for="cb-{{name}}-{{value}}">
      {{label}}
      <span class="checkbox-list-indicator" data-advanced-checkbox-group-indicator></span>
    </label>
    {{> advanced_checkbox_checkbox name=name hideName=true label=label}}
  </li>  
  {{> @partial-block}}
{{/inline}}

{{#*inline "advanced_checkbox_item"}}
<li class="mdc-list-item checkbox-list-child {{#if noIndent}}checkbox-list-child-no-indent{{/if}}" data-advanced-checkbox-item="{{name}}" 
      data-advanced-checkbox-group-parent="{{group}}" role="checkbox" aria-checked="false" 
      id="li-{{name}}-{{value}}">
    <label for="cb-{{name}}-{{value}}">{{label}}</label>
    {{> advanced_checkbox_checkbox name=name hideName=false value=value label=label}}
  </li>
{{/inline}}

<div class="mdc-drawer__content">
  <form action="/search" method="GET" class="search-form">
    <div class="header mdc-text-field mdc-text-field--box mdc-text-field--with-leading-icon mdc-text-field-tt" data-mdc-auto-init="MDCTextField">
      <span class="far fa-search mdc-text-field__icon" tabindex="0" role="button"></span>
      <input type="text" id="what-primary-content" name="keywords" class="mdc-text-field__input" placeholder="" data-lpignore="true" data-typeahead='{
        "typeaheadOptions": {
          "highlight": true,
          "minlength": 0
        },
        "outputs": [
          {
            "type": "prop",
            "options": {
              "selectorTemplate": "#cb-\{{item.datasetName}}-\{{item.value}}",
              "prop": "checked",
              "valueTemplate": "checked"
            }
          }
        ],
        "datasets": [
          {{#each @root.context.metaData.terms}}
            {{#each termGroups}}
              {
                "name": {{{stringify @../key}}},
                "templates": {
                  {{#compare (length (getKeys ../termGroups)) 1}}
                    "header": "<h3>{{{../label}}}</h3>"
                  {{else}}
                    "header": "<h3>{{{../label}}} &gt; {{{label}}}</h3>"
                  {{/compare}}
                },
                "display": "other",
                "items": [
                  {{#each terms}}
                  {
                  "label": {{{stringify (concat @../key ' ' this)}}},
                  "value": {{{stringify @key}}},
                  "other": {{{stringify this}}}
                  }{{#unless @last}},{{/unless}}
                  {{/each}}
                ]
              }{{#unlessAll @last @../last}},{{/unlessAll}}
            {{/each}}
          {{/each}}
        ]
      }'>
      <label for="what-primary-content" class="mdc-floating-label">
        Quick filters / Keywords
      </label>
      <div class="mdc-line-ripple"></div>
    </div>
    
    {{#each @root.context.metaData.terms}}
      {{#> advanced_checkbox_list name=@key label=label}}
        {{#each termGroups}}
          {{#> advanced_checkbox_group 
              name=(concat @../key '-' @key) 
              label=label 
              hideParent=(compare (length (getKeys ../../termGroups)) 1)}}
            {{#each terms}}
              {{> advanced_checkbox_item 
                  name=@../../../../key 
                  value=@key 
                  label=this 
                  group=(concat @../../../../key '-'  @../../../key) 
                  noIndent=(compare (length (getKeys ../../../../termGroups)) 1)}}
            {{/each}}
          {{/advanced_checkbox_group}}
        {{/each}}
      {{/advanced_checkbox_list}} 
    {{/each}}
    
    <div class="h-margin v-margin">
      <button class="mdc-button mdc-button--raised mdc-button--large mdc-button--fullwidth mdc-ripple-surface mdc-ripple-surface--primary" type="submit" id="{{instance_id}}-search-submit" data-mdc-auto-init="MDCRipple">
        <span class="far fa-search-plus fa-fw mdc-list-item__graphic" aria-hidden="true"></span>
        Filter
      </button>
    </div>
  </form>
</div>