{{#*inline "marker"}}
<marker style="display:none;" data-map="fullMap" data-lat="{{lat}}" data-lng="{{lng}}" data-title="{{source.title}}">
  {{>vacancy_map source postcode=(itemAt (arrayify source.postcodes) index)}}
</marker>
{{/inline}}

{{#if @root.data.search_data.map_results.pagination.totalResults ~}}
<div id="detailed-results-container" class="container-content container-map">
  <div id="map-full" data-map-name="fullMap" data-map-clustered-options='{
    {{#ifAll @root.request.params.query.location @root.request.params.query.lat @root.request.params.query.lng ~}}
      "circle": {
        "lat": {{@root.request.params.query.lat}},
        "lng": {{@root.request.params.query.lng}},
        "radius": {{default @root.request.params.query.distance 0}},
        "color": "#9cd986"
      }
    {{/ifAll ~}}
    }'>
    {{#each @root.data.search_data.map_results.hits.hits ~}}
      {{#if _source.geo_coords ~}}
        {{#each (arrayify _source.geo_coords) ~}}
          {{#if @root.request.params.query.distance ~}}
            {{#compare (itemAt ../fields.distance @index) "<" @root.request.params.query.distance ~}}
              {{> marker lat=lat lng=lon source=../_source index=@index}}
            {{/compare ~}}
          {{else}}
            {{#if @root.request.params.query.regions ~}}
              {{!-- {{replace @root.request.params.query.regions "-" " "}} in {{lowercase (getProperty (itemAt ../_source.geo_info @index) "nhs_ha")}}<br /> --}}
              {{!-- {{#if (contains (replace @root.request.params.query.regions "-" " ") (lowercase (getProperty (itemAt ../_source.geo_info @index) "nhs_ha"))) ~}} --}}
                {{> marker lat=lat lng=lon source=../_source index=@index}}
              {{!-- {{/if ~}} --}}
            {{else}}
              {{> marker lat=lat lng=lon source=../_source index=@index}}
            {{/if ~}}
          {{/if ~}}
        {{/each ~}}
      {{/if ~}}
    {{/each ~}}
  </div>
</div>
{{else}}
<div id="detailed-results-container" class="container-content content-primary-search">
  <div class="search-info mdc-elevation--z1">
    No results could be found, please try a different search query
  </div>
</div>
{{/if ~}}