<div class="container-content mpower-page t-padding">
  {{!-- <img src="{{~>asset_url url='images/community-scape.jpg'~}}" aria-hidden="true" /> --}}
  <div class="mdc-card list h-padding-full b-padding-full t-margin b-margin-full mdc-elevation--z3">
    <h1 class="mdc-typography--headline4">
      {{@root.data.currentSite.title}}
    </h1>
    {{#compare @root.data.currentSite.name "default" ~}}
    {{{@root.data.primaryResponse.hits.hits.[0]._source.content}}}
    {{else}}
    <h2>
      {{@root.data.currentSite.healthBoard.title}}
    </h2>
    {{{@root.data.primaryResponse.hits.hits.[0]._source.content}}}
    {{/compare ~}}
  </div>
</div>